*{
    box-sizing: border-box;
    font-family: sans-serif, Arial, Helvetica, "Roboto";
    margin: 0;
    padding: 0;
}

body, html{
    background: linear-gradient(72deg, rgba(39,41,54,1) 0%, rgba(39,41,54,0.9643207624846813) 69%, rgba(39,41,54,0.6113795860140931) 100%), url(./Images/forest.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background-position: center;
}


header{
    display: flex;
    align-items: center;
    color: white;
    height: 3rem;
    nav{
        display: flex;
        list-style: none;
        li{
            margin-right: 5rem;
            margin-left: 1rem;
            word-spacing: .5rem;
            span img{
                width: 4rem;
                height: auto;
            }
            // display: inline-block; THIS MADE "li" ELEMENTS SIT HORIZONTALLY
        }
    }
}

.sign-up-section{
    color: white;
    margin: 10rem 0 0 2rem;
    height: 100px;
    width: 35rem;
    display: inline-block;
    border: 1px solid blue;
    
    .sign-up-form{
        border: 1px solid red;
        display: flex;
        flex-wrap: wrap;
        min-height: 100%;
        input{
            padding: .8rem .0rem;
        }
        .first-name, .last-name{
            flex-basis: 50%;
        }
        .email, .password, .submit{
            flex-basis: 100%;
        }
    }
}