* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif, Arial, Helvetica;
  margin: 0;
  padding: 0;
}
html{
  height: 100%;
}
body{
  margin: 0;
  height: 100%;
  min-width: 100%;
  background: linear-gradient(
      72deg,
      rgba(39, 41, 54, 1) 0%,
      rgba(39, 41, 54, 0.9643207624846813) 69%,
      rgba(39, 41, 54, 0.6113795860140931) 100%
    ),
    url(./Images/forest.jpg);
  overflow: hidden;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

header {
  width: 100%;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  height: 8rem;
  .nwrm-logo{
    height: auto;
    width:5rem;
    margin: 0 1rem 0 1rem;
  }
  nav {
    display: flex;
    justify-content: space-between;
    list-style: none;
    li {
      h3{
        font-weight: 400;
      }
      span img {
        width: 4rem;
        height: auto;
      }
      // display: inline-block; THIS MADE "li" ELEMENTS SIT HORIZONTALLY
    }
  }
}

  ///////////////////////////HAMBURGER MENU/////
  .menu-wrap{
    top: 0;
    left: 0;
    z-index: 1;
    .toggler{
      position: absolute;
      cursor: pointer;
      width: 2.8rem;
      height: 2.8rem;
      opacity: 0;
      z-index: 2;
    }
    .hamburger{
      position: absolute;
      width: 3rem;
      height: 3rem;
      padding: .3rem;
      margin-left: .65rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba(43, 45, 58, 0.265);
      z-index: 1;
      ///Hamburger line///
      div{
        position: relative;
        width: 100%;
        height: 2px;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.4s ease;
      }
      ///Top & Bottom lines///
      div:before, div:after{
        content: '';
        position: absolute;
        z-index: 1;
        top: -10px;
        width: 100%;
        height: 2px;
        background: #fff;
      }
      ///Moves line down///
      div:after{
        top: 10px;
      }
    }
    ///Toggler Animate///
    .toggler:checked + .hamburger > div{
      transform: rotate(135deg);
    }

    /*Turn lines into X*/
    .toggler:checked + .hamburger > div:before,
    .toggler:checked + .hamburger > div:after{
      top: 0;
      transform: rotate(90deg);
    }

    /*Rotate on hover when checked*/
    .toggler:checked:hover + .hamburger > div{
      transform: rotate(225deg);
    }

    /*Menu drop when checked*/
    .menu{
      // position: absolute;
      ul{
        transition: all 0.4s ease;
        list-style: none;
        background-color: rgba(43, 45, 58, 0.265);
        padding: .8rem;
        opacity: 0;
        li a{
          color: #fff;
          text-decoration: none;
        }
      }
    }
    .toggler:checked ~ .menu div div ul{
      opacity: 1;
      transform: translateY(3rem);
    }
  }
  

///////////////////////////SIGN-UP/////////////////
.form-wrapper{
  width: 100%;
  max-width: 45rem;
  color: white;
  text-align: center;
  margin-top: 4rem;
  h3{
    margin-top: .5rem;
    font-weight: 400;
    span{
      color: #1D90F5;
    }
  }
  .container{
    margin-top: 1.5rem;
    .sign-up-form{
      margin: 0 1rem;

      input{
        width: 100%;
        margin: .6rem 0;
        padding: .9rem 0;
        border-radius: 1.2rem;
        background-color: #454953;
        color: white;
        font-weight: 700;
        padding-left: 1rem;
        border: none;
        outline-color: #1D90F5;
      }
      input:autofill {
        outline: none;
      }

      input[type="submit"]{
        background-color: #1D90F5;
      }
    }
  }
}

@media (min-width: 481px){
  .menu-wrap{
    margin-right: 1rem;
    .toggler{
      display: none;
    }
    .hamburger{
      display: none;
      ///Hamburger line///
      div{
        width: initial;
        height: initial;
        background-color: none;
      }
      ///Top & Bottom lines///
      div:before, div:after{
        content: none;
      }
      ///Moves line down///
    }

    /*Menu drop when checked*/
    .menu{
      position: initial;
      width: 10rem;
      height: auto;
      ul{
        display: flex;
        justify-content: space-between;
        background-color: rgba(43, 45, 58, 0);
        padding: initial;
        opacity: 1;
        li a{
          font-size: 1.2rem;
          text-shadow: -.15rem .25rem 5px rgb(42, 41, 41);
        }
      }
    }
  }

  .form-wrapper{
    margin-left: 2rem;
  }
}

@media(max-width: 781px){
  .form-wrapper{
    margin-left: 0rem;
  }
}